/* GLOBAL RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f6f9;
  color: #1e293b;
}

.app {
  width: 100%;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav-links a {
  margin: 0 18px;
  text-decoration: none;
  color: #475569;
  font-size: 14px;
  transition: 0.3s ease;
}

.nav-links a.active {
  color: #2563eb;
  font-weight: 600;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  background: #0f172a;
  color: #f8fafc;
}

/* DARK MODE GLOBAL */

body.dark {
  background: #0f172a;
  color: #f8fafc;
}
